In [5]:
import pandas as pd
import numpy as np
from google.colab import files
from sklearn import preprocessing
from pandas.api.types import is_numeric_dtype, is_string_dtype
# file = files.upload()
train = pd.read_csv('train.csv')
train.head()

test = pd.read_csv('test.csv')
# test = test.fillna(0)
# test = test.replace(np.nan, 0)

# print(len(train.columns))
Y = train['SalePrice'].as_matrix()
# train.drop(columns='Id', inplace=True)
for col in train:
  # print(col, ':', train[col].isna().sum()) # find all NaN values met 1
  count = train[col].isna().sum()
 
  if count >= len(train)/2:
    # print(col)
    train.drop(columns=col, inplace=True) # for multiple columns
    test.drop(columns=col, inplace=True)
    
  # print(col, ':', train[col].isnull().values.sum()) # find all NaN values met 2
  # print(col, ':', len(train[col]) - train[col].count())  # find all NaN values met 3
# print(len(train) - train.count()) # find all NaN values column wise without loop met 4
# print(train.isna().sum()) # find all NaN values column wise without loop met 5
# print('Total NaN in Train DF: ', train.isna().sum().sum())


train.columns # Name of all columns
len(train.columns) # Count number of columns

# Drop columns
# train.drop(columns='Alley', inplace=True)
# col = ['Alley','MiscFeature', 'PoolQC', 'Fence', 'FireplaceQu']
# train.drop(columns=col, inplace=True) # for multiple columns
# del train['Alley']
len(train.columns)

# train = train.replace(np.nan, 0)
# train = train.fillna(0)
# print('Total NaN in Train DF: ', train.isna().sum().sum())
# len(train)

for col in train:
  count=train[col].isna().sum()
  if count>0:
    if(is_numeric_dtype(train[col])):
      avg=train[col].mean(skipna=True)
      train[col]=train[col].fillna(avg)
    elif(is_string_dtype(train[col])):
      max=train[col].value_counts().idxmax()
      train[col]=train[col].fillna(max)


  # Label encoder
  # train[col].unique()
  col_unique = len(train[col].unique())
  le = preprocessing.LabelEncoder()
  train[col] = le.fit_transform(train[col])
  # print(col, ':', train[col].unique())
len(train.columns)

# ------------------------------------------------


for col1 in test:
  count1=test[col1].isna().sum()
  if count1>0:
    if(is_numeric_dtype(test[col1])):
      avg=test[col1].mean(skipna=True)
      test[col1]=test[col1].fillna(avg)
    elif(is_string_dtype(test[col1])):
      max1=test[col1].value_counts().idxmax()
      test[col1]=test[col1].fillna(max1)

  # Label Encoder for Test
  le1 = preprocessing.LabelEncoder()
  test[col1] = le1.fit_transform(test[col1])

test.head()


test = test.as_matrix()
X = train.drop('SalePrice', axis = 1)
X = X.as_matrix()
from sklearn import ensemble, model_selection
ran_for = ensemble.RandomForestClassifier(
    n_estimators = 100,
    max_depth = 8,
    min_samples_split = 4,
    n_jobs = -1,
    random_state = 1 )
ran_for = ran_for.fit(X,Y)
ran_for.score(X,Y)
scores = model_selection.cross_val_score(ran_for, X, Y, scoring = 'accuracy', cv = 10, n_jobs = -1)
scores

pred_for = ran_for.predict(test)
print('Prediction :', pred_for)

res = pd.read_csv("sample_submission.csv")

Id = np.array(res['Id']).astype(int)
final_res = pd.DataFrame(pred_for, Id, columns = ['SalePrice'])
final_res.to_csv("result.csv", index_label = ['Id'])
final_res

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:87: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:89: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

Prediction : [110000 140000 160000 ... 160000 145000 175000]

      SalePrice
1461     110000
1462     140000
1463     160000
1464     160000
1465     160000
...         ...
2915      92000
2916      84500
2917     160000
2918     145000
2919     175000

[1459 rows x 1 columns]